PORT=4000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/techsol
JWT_SECRET=change-this-in-production

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhq3nxqt2
CLOUDINARY_API_KEY=942382756482566
CLOUDINARY_API_SECRET=TdVy2W7Tsa-GdCFlfFAaDh_uYUw
CLOUDINARY_URL=cloudinary://942382756482566:TdVy2W7Tsa-GdCFlfFAaDh_uYUw@dhq3nxqt2
